.container {
    display: flex;
    justify-content: space-between;
}

.title {
    width: 150px;
}

.value {
    width: 230px;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }
    
    .title {
        width: 100%;
    }

    .value {
        width: 100%;
    }
}