.container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.container label input { display: none; }

.button {
    display: flex;
    border: 1px solid var(--silver);
    border-radius: 15px;
    width: 197px;
    height: 48px;
    justify-content: center;
    align-items: center;
}

.button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.button > h3 {
    font-weight: 500;
    font-size: 14px;
    color: var(--text2);
    margin-right: 4px;
}