.textArea {
    resize: none;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    border: 2px solid var(--gray);
    outline: none;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}