.form {
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.container > h4 {
    font-weight: 700;
    font-size: 17px;
}

.request {
    width: 137px;
    height: 27px;
    border: 2px solid var(--gray);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.discount {
    font-size: 10px;
    margin-bottom: 8px;
    text-decoration: line-through;
}